In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
url='https://raw.githubusercontent.com/pedrogonzalezbeermann/Python/master/anova2.csv'
df=pd.read_csv(url)
df.head()

    A   B   C   D   E   F
0  15  38  42  16  28  10
1  20  43  48  22  34  16
2  10  33  36  10  22   4
3  21  46  49  21  35  15
4   9  30  35  11  21   5

In [19]:
df["A"]

0    15
1    20
2    10
3    21
4     9
Name: A, dtype: int64

In [20]:
pd.Series([1., 2., 3.], index=['a', 'b', 'c'])

a    1.0
b    2.0
c    3.0
dtype: float64

In [22]:
pd.Series([1., 5., 3., 4.], index=['a', 'b', 'c', 'd'])

a    1.0
b    5.0
c    3.0
d    4.0
dtype: float64

In [23]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [24]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64, 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [25]:
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [27]:
d={"A":[4,3,7],"B":[1,7,2]}
df=pd.DataFrame(d,index=['a','b','c'])
df

   A  B
a  4  1
b  3  7
c  7  2

In [33]:
d={"A":[1,2,3,4]}
df=pd.DataFrame(d,index=['a','b','c','d'])
df["B"]=[5,7,3,4]
df["C"]=df["A"][2:]
df

   A  B    C
a  1  5  NaN
b  2  7  NaN
c  3  3  3.0
d  4  4  4.0

In [36]:
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],'C' : np.random.randn(8),'D' : np.random.randn(8)})

In [37]:
df

     A      B         C         D
0  foo    one  1.337186 -2.907417
1  bar    one -1.047030  0.289410
2  foo    two -0.625009 -1.966316
3  bar  three -1.692686  0.630253
4  foo    two  0.365955  1.401343
5  bar    two  0.239950  1.247936
6  foo    one  1.824225  1.103831
7  foo  three -2.123338  0.017887

In [40]:
grouped = df.groupby('A')
grouped = df.groupby(['A', 'B'])

In [42]:
grouped.count